openapi: 3.0.3

info:
  title: KasKu API
  description: |
    KasKu SaaS — Multi-tenant Personal Finance Tracker
    API ini dilayani oleh api-gateway yang melakukan JWT verification, rate limiting,
    dan routing ke downstream microservices.

    ## Authentication
    Gunakan `BearerAuth` untuk semua endpoint kecuali yang ditandai `public`.
    Token diperoleh dari `POST /auth/login` atau `POST /auth/refresh`.

    ## Admin Authentication
    Endpoint `/admin/**` menggunakan `AdminBearerAuth` (token terpisah dari user token).

    ## Tier Limit Response
    HTTP `402 Payment Required` dikembalikan saat user melampaui batas tier Free.

    ## Correlation ID
    Setiap request menyertakan `X-Correlation-ID` response header untuk distributed tracing.

    ## Rate Limiting
    Response header `X-RateLimit-Limit`, `X-RateLimit-Remaining`, `X-RateLimit-Reset`
    disertakan di setiap response.

  version: "2.0.0"
  contact:
    name: TubsAMY
    email: admin@tubsamy.tech

servers:
  - url: https://api.kasku.id/v1
    description: Production
  - url: http://localhost:8080/v1
    description: Local development (via api-gateway)

tags:
  - name: Auth
    description: Autentikasi, registrasi, token management
  - name: User
    description: Profil user dan manajemen akun
  - name: Billing
    description: Subscription, pembayaran Midtrans, invoice
  - name: Finance Accounts
    description: Akun keuangan (bank, e-wallet, cash)
  - name: Transactions
    description: Transaksi keuangan (income, expense, transfer)
  - name: Categories
    description: Kategori transaksi
  - name: Investments
    description: Aset investasi (kripto, emas)
  - name: Dashboard
    description: Ringkasan agregat keuangan
  - name: Sync
    description: Offline sync (batch push/pull)
  - name: Admin
    description: Admin dashboard dan manajemen platform
  - name: Health
    description: Health check endpoint

# ============================================================
# Security Schemes
# ============================================================
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT RS256 access token. Diperoleh dari POST /auth/login atau POST /auth/refresh.
        TTL: 15 menit. Sertakan di header: `Authorization: Bearer {token}`

    AdminBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Admin JWT token. Diperoleh dari POST /admin/auth/login.
        Terpisah dari user token. Hanya valid untuk endpoint /admin/**.

  # ============================================================
  # Reusable Headers
  # ============================================================
  headers:
    X-Correlation-ID:
      description: Unique request ID untuk distributed tracing. Di-generate oleh api-gateway.
      schema:
        type: string
        format: uuid
        example: "c3d4e5f6-a1b2-c3d4-e5f6-a1b2c3d4e5f6"
    X-RateLimit-Limit:
      description: Maximum number of requests dalam window saat ini
      schema:
        type: integer
        example: 200
    X-RateLimit-Remaining:
      description: Sisa requests dalam window saat ini
      schema:
        type: integer
        example: 195
    X-RateLimit-Reset:
      description: Unix timestamp saat rate limit window reset
      schema:
        type: integer
        format: int64
        example: 1714212100

  # ============================================================
  # Reusable Responses
  # ============================================================
  responses:
    UnauthorizedError:
      description: Token tidak valid atau sudah expired
      headers:
        X-Correlation-ID:
          $ref: '#/components/headers/X-Correlation-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: "UNAUTHORIZED"
              message: "Token tidak valid atau sudah expired."

    ForbiddenError:
      description: Tidak memiliki permission untuk resource ini
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: "FORBIDDEN"
              message: "Akses ditolak."

    TierLimitExceededError:
      description: Batas tier subscription tercapai. Upgrade diperlukan.
      headers:
        X-Correlation-ID:
          $ref: '#/components/headers/X-Correlation-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TierLimitError'

    NotFoundError:
      description: Resource tidak ditemukan
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: "NOT_FOUND"
              message: "Resource tidak ditemukan."

    ValidationError:
      description: Input validation gagal
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationErrorResponse'

    RateLimitError:
      description: Rate limit terlampaui
      headers:
        Retry-After:
          description: Detik hingga rate limit window reset
          schema:
            type: integer
        X-RateLimit-Reset:
          $ref: '#/components/headers/X-RateLimit-Reset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: "RATE_LIMIT_EXCEEDED"
              message: "Terlalu banyak permintaan. Coba lagi dalam 60 detik."

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: "INTERNAL_SERVER_ERROR"
              message: "Terjadi kesalahan server. Silakan coba lagi."

  # ============================================================
  # Reusable Parameters
  # ============================================================
  parameters:
    PageParam:
      name: page
      in: query
      description: Halaman (1-based)
      schema:
        type: integer
        minimum: 1
        default: 1
    LimitParam:
      name: limit
      in: query
      description: Jumlah item per halaman
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    CorrelationIDHeader:
      name: X-Correlation-ID
      in: header
      description: Opsional. Client dapat menyertakan untuk tracing. Jika tidak ada, api-gateway akan generate.
      schema:
        type: string
        format: uuid

  # ============================================================
  # Schemas
  # ============================================================
  schemas:

    # --- Generic Wrappers ---

    SuccessResponse:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    ErrorResponse:
      type: object
      required: [success, error]
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              example: "NOT_FOUND"
            message:
              type: string
              example: "Resource tidak ditemukan."

    ValidationErrorResponse:
      type: object
      required: [success, error]
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          required: [code, message, fields]
          properties:
            code:
              type: string
              example: "VALIDATION_ERROR"
            message:
              type: string
              example: "Input tidak valid."
            fields:
              type: array
              items:
                type: object
                properties:
                  field:
                    type: string
                    example: "email"
                  message:
                    type: string
                    example: "Format email tidak valid."

    TierLimitError:
      type: object
      required: [success, error]
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          required: [code, message, details]
          properties:
            code:
              type: string
              example: "TIER_LIMIT_EXCEEDED"
            message:
              type: string
              example: "Batas transaksi bulanan untuk plan Free telah tercapai (50/50)."
            details:
              type: object
              properties:
                limit_type:
                  type: string
                  enum:
                    - max_transactions_per_month
                    - max_financial_accounts
                    - max_investment_instruments
                  example: "max_transactions_per_month"
                current_count:
                  type: integer
                  example: 50
                limit:
                  type: integer
                  example: 50
                current_plan:
                  type: string
                  example: "FREE"
                upgrade_url:
                  type: string
                  format: uri
                  example: "https://app.kasku.id/billing/plans"

    PaginationMeta:
      type: object
      properties:
        page:
          type: integer
          example: 1
        limit:
          type: integer
          example: 20
        total_items:
          type: integer
          example: 87
        total_pages:
          type: integer
          example: 5

    # --- Auth Schemas ---

    RegisterRequest:
      type: object
      required: [email, username, password]
      properties:
        email:
          type: string
          format: email
          maxLength: 254
          example: "user@example.com"
        username:
          type: string
          minLength: 3
          maxLength: 30
          pattern: '^[a-zA-Z0-9_]+$'
          example: "john_doe"
        password:
          type: string
          format: password
          minLength: 8
          maxLength: 128
          description: "Minimum 8 karakter, harus mengandung huruf besar, huruf kecil, dan angka."
          example: "SecurePass123"

    RegisterResponse:
      type: object
      properties:
        user_id:
          type: string
          format: uuid
          example: "550e8400-e29b-41d4-a716-446655440000"
        message:
          type: string
          example: "Registrasi berhasil. Silakan cek email Anda untuk verifikasi akun."

    VerifyEmailRequest:
      type: object
      required: [token]
      properties:
        token:
          type: string
          minLength: 32
          maxLength: 128
          description: "Token verifikasi email dari link yang dikirim ke email user."
          example: "a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2"

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
          example: "user@example.com"
        password:
          type: string
          format: password
          example: "SecurePass123"

    LoginResponse:
      type: object
      properties:
        access_token:
          type: string
          description: "JWT RS256 access token. TTL 15 menit."
          example: "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9..."
        token_type:
          type: string
          example: "Bearer"
        expires_in:
          type: integer
          description: "TTL access token dalam detik."
          example: 900
        user:
          $ref: '#/components/schemas/UserProfile'

    RefreshTokenRequest:
      type: object
      description: "Refresh token dikirim sebagai HttpOnly cookie, bukan di request body."
      properties: {}

    ForgotPasswordRequest:
      type: object
      required: [email]
      properties:
        email:
          type: string
          format: email
          example: "user@example.com"

    ResetPasswordRequest:
      type: object
      required: [token, new_password]
      properties:
        token:
          type: string
          minLength: 32
          description: "Reset token dari email."
          example: "a1b2c3d4e5f6..."
        new_password:
          type: string
          format: password
          minLength: 8
          maxLength: 128
          example: "NewSecurePass456"

    # --- User Schemas ---

    UserProfile:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "550e8400-e29b-41d4-a716-446655440000"
        email:
          type: string
          format: email
          example: "user@example.com"
        username:
          type: string
          example: "john_doe"
        email_verified:
          type: boolean
          example: true
        subscription_tier:
          type: string
          enum: [FREE, BASIC, PRO]
          example: "FREE"
        created_at:
          type: string
          format: date-time
          example: "2026-04-27T10:00:00Z"

    UpdateProfileRequest:
      type: object
      properties:
        username:
          type: string
          minLength: 3
          maxLength: 30
          pattern: '^[a-zA-Z0-9_]+$'
          example: "john_doe_updated"
        display_name:
          type: string
          maxLength: 100
          example: "John Doe"

    DeleteAccountRequest:
      type: object
      required: [confirmation]
      properties:
        confirmation:
          type: string
          description: "User harus mengetik 'DELETE MY ACCOUNT' untuk konfirmasi."
          enum: ["DELETE MY ACCOUNT"]
          example: "DELETE MY ACCOUNT"
        reason:
          type: string
          maxLength: 500
          description: "Alasan penghapusan akun (opsional, untuk feedback)."
          example: "Tidak lagi menggunakan aplikasi."

    # --- Billing Schemas ---

    SubscriptionPlan:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "00000000-0000-0000-0000-000000000002"
        name:
          type: string
          enum: [FREE, BASIC, PRO]
          example: "BASIC"
        display_name:
          type: string
          example: "Basic"
        price_idr:
          type: integer
          description: "Harga dalam Rupiah. 0 untuk FREE."
          example: 29000
        billing_cycle:
          type: string
          enum: [MONTHLY, YEARLY, NONE]
          example: "MONTHLY"
        limits:
          $ref: '#/components/schemas/TierLimits'
        is_active:
          type: boolean
          example: true

    TierLimits:
      type: object
      properties:
        max_transactions_per_month:
          type: integer
          description: "-1 berarti unlimited"
          example: 500
        max_financial_accounts:
          type: integer
          description: "-1 berarti unlimited"
          example: 10
        max_investment_instruments:
          type: integer
          description: "-1 berarti unlimited"
          example: 10
        history_retention_months:
          type: integer
          description: "-1 berarti unlimited"
          example: 12
        email_notifications_enabled:
          type: boolean
          example: true
        export_csv_enabled:
          type: boolean
          example: false
        offline_sync_enabled:
          type: boolean
          example: true
        realtime_price_enabled:
          type: boolean
          example: true

    Subscription:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "7c9e6679-7425-40de-944b-e07fc1f90ae7"
        plan:
          $ref: '#/components/schemas/SubscriptionPlan'
        status:
          type: string
          enum: [TRIALING, ACTIVE, PAST_DUE, CANCELLED, EXPIRED]
          example: "ACTIVE"
        current_period_start:
          type: string
          format: date-time
          example: "2026-04-27T00:00:00Z"
        current_period_end:
          type: string
          format: date-time
          nullable: true
          description: "null untuk FREE plan (tidak ada expiry)."
          example: "2026-05-27T00:00:00Z"
        cancel_at_period_end:
          type: boolean
          example: false
        cancelled_at:
          type: string
          format: date-time
          nullable: true
          example: null
        created_at:
          type: string
          format: date-time
          example: "2026-04-27T10:00:00Z"

    SubscribeRequest:
      type: object
      required: [plan_id]
      properties:
        plan_id:
          type: string
          format: uuid
          description: "ID dari subscription plan yang ingin di-subscribe."
          example: "00000000-0000-0000-0000-000000000002"

    SubscribeResponse:
      type: object
      properties:
        payment_id:
          type: string
          format: uuid
          example: "b3c4d5e6-f7a8-49b0-c1d2-e3f4a5b6c7d8"
        midtrans_order_id:
          type: string
          example: "KASKU-550e8400-1714211200"
        snap_token:
          type: string
          description: "Midtrans Snap token untuk inisiasi pembayaran di frontend."
          example: "66e4fa55-fdac-4ef9-91b5-733b97d1b862"
        redirect_url:
          type: string
          format: uri
          description: "URL redirect ke Midtrans Snap payment page."
          example: "https://app.midtrans.com/snap/v2/vtweb/66e4fa55-fdac-4ef9-91b5-733b97d1b862"
        amount_idr:
          type: integer
          example: 29000
        expires_at:
          type: string
          format: date-time
          description: "Waktu kedaluwarsa payment session (24 jam dari sekarang)."
          example: "2026-04-28T10:00:00Z"

    Invoice:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "d4e5f6a7-b8c9-40d1-e2f3-a4b5c6d7e8f9"
        midtrans_order_id:
          type: string
          example: "KASKU-550e8400-1714211200"
        midtrans_transaction_id:
          type: string
          nullable: true
          example: "TXN-20260427-123456"
        plan_name:
          type: string
          example: "Basic"
        amount_idr:
          type: integer
          example: 29000
        status:
          type: string
          enum: [PENDING, SETTLEMENT, EXPIRE, CANCEL, DENY, REFUND, FAILURE]
          example: "SETTLEMENT"
        payment_method:
          type: string
          nullable: true
          example: "gopay"
        paid_at:
          type: string
          format: date-time
          nullable: true
          example: "2026-04-27T10:05:00Z"
        created_at:
          type: string
          format: date-time
          example: "2026-04-27T10:00:00Z"

    MidtransWebhookPayload:
      type: object
      description: "Payload notifikasi dari Midtrans server. Lihat dokumentasi Midtrans untuk field lengkap."
      required: [order_id, status_code, gross_amount, signature_key, transaction_status]
      properties:
        order_id:
          type: string
          example: "KASKU-550e8400-1714211200"
        status_code:
          type: string
          example: "200"
        gross_amount:
          type: string
          description: "Jumlah pembayaran sebagai string (format Midtrans)."
          example: "29000.00"
        signature_key:
          type: string
          description: "SHA512(order_id + status_code + gross_amount + server_key). Untuk verifikasi webhook."
          example: "a1b2c3d4..."
        transaction_status:
          type: string
          enum: [settlement, pending, expire, cancel, deny, refund]
          example: "settlement"
        payment_type:
          type: string
          example: "gopay"
        transaction_id:
          type: string
          example: "TXN-20260427-123456"
        transaction_time:
          type: string
          example: "2026-04-27 10:05:00"

    # --- Finance Account Schemas ---

    FinancialAccount:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "a1b2c3d4-e5f6-4789-a0b1-c2d3e4f5a6b7"
        name:
          type: string
          example: "BCA Tabungan"
        account_type:
          type: string
          enum: [BANK, EWALLET, CASH, INVESTMENT]
          example: "BANK"
        currency:
          type: string
          example: "IDR"
        balance:
          type: number
          format: double
          example: 5000000.00
        institution:
          type: string
          nullable: true
          example: "BCA"
        account_number:
          type: string
          nullable: true
          example: "1234567890"
        color:
          type: string
          pattern: '^#[0-9A-Fa-f]{6}$'
          nullable: true
          example: "#3B82F6"
        icon:
          type: string
          nullable: true
          example: "bank"
        is_active:
          type: boolean
          example: true
        sort_order:
          type: integer
          example: 0
        created_at:
          type: string
          format: date-time
          example: "2026-04-27T10:00:00Z"
        updated_at:
          type: string
          format: date-time
          example: "2026-04-27T10:00:00Z"

    CreateFinancialAccountRequest:
      type: object
      required: [name, account_type]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          example: "BCA Tabungan"
        account_type:
          type: string
          enum: [BANK, EWALLET, CASH, INVESTMENT]
          example: "BANK"
        currency:
          type: string
          default: "IDR"
          example: "IDR"
        initial_balance:
          type: number
          format: double
          minimum: 0
          default: 0
          example: 5000000.00
        institution:
          type: string
          maxLength: 100
          example: "BCA"
        account_number:
          type: string
          maxLength: 50
          example: "1234567890"
        color:
          type: string
          pattern: '^#[0-9A-Fa-f]{6}$'
          example: "#3B82F6"
        icon:
          type: string
          maxLength: 50
          example: "bank"
        sort_order:
          type: integer
          default: 0

    UpdateFinancialAccountRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          example: "BCA Tabungan Utama"
        institution:
          type: string
          maxLength: 100
          example: "BCA"
        account_number:
          type: string
          maxLength: 50
          example: "1234567890"
        color:
          type: string
          pattern: '^#[0-9A-Fa-f]{6}$'
          example: "#3B82F6"
        icon:
          type: string
          maxLength: 50
          example: "bank"
        is_active:
          type: boolean
          example: true
        sort_order:
          type: integer
          example: 0

    UpdateBalanceRequest:
      type: object
      required: [new_balance, reason]
      properties:
        new_balance:
          type: number
          format: double
          minimum: 0
          example: 6000000.00
        reason:
          type: string
          enum: [MANUAL_ADJUST]
          example: "MANUAL_ADJUST"
        notes:
          type: string
          maxLength: 200
          example: "Koreksi saldo setelah pengecekan buku tabungan"

    BalanceHistory:
      type: object
      properties:
        id:
          type: string
          format: uuid
        balance_before:
          type: number
          format: double
          example: 5000000.00
        balance_after:
          type: number
          format: double
          example: 6000000.00
        change_amount:
          type: number
          format: double
          example: 1000000.00
        change_reason:
          type: string
          enum: [TRANSACTION, MANUAL_ADJUST, SYNC, INITIAL]
          example: "MANUAL_ADJUST"
        reference_id:
          type: string
          format: uuid
          nullable: true
        recorded_at:
          type: string
          format: date-time
          example: "2026-04-27T10:00:00Z"

    # --- Transaction Schemas ---

    Transaction:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "b2c3d4e5-f6a7-4890-b1c2-d3e4f5a6b7c8"
        sync_id:
          type: string
          format: uuid
          nullable: true
          description: "Client-generated UUID untuk offline sync idempotency."
        account_id:
          type: string
          format: uuid
        account_name:
          type: string
          example: "BCA Tabungan"
        category_id:
          type: string
          format: uuid
        category_name:
          type: string
          example: "Makanan & Minuman"
        transaction_type:
          type: string
          enum: [INCOME, EXPENSE, TRANSFER]
          example: "EXPENSE"
        amount:
          type: number
          format: double
          example: 75000.00
        description:
          type: string
          nullable: true
          example: "Makan siang di warung Pak Budi"
        notes:
          type: string
          nullable: true
        transaction_date:
          type: string
          format: date
          example: "2026-04-27"
        to_account_id:
          type: string
          format: uuid
          nullable: true
          description: "Hanya diisi untuk TRANSFER type."
        to_account_name:
          type: string
          nullable: true
          example: "GoPay"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CreateTransactionRequest:
      type: object
      required: [account_id, category_id, transaction_type, amount, transaction_date]
      properties:
        sync_id:
          type: string
          format: uuid
          description: "Opsional. UUID yang di-generate client untuk idempotency offline sync."
          example: "c3d4e5f6-a7b8-49c0-d1e2-f3a4b5c6d7e8"
        account_id:
          type: string
          format: uuid
          example: "a1b2c3d4-e5f6-4789-a0b1-c2d3e4f5a6b7"
        category_id:
          type: string
          format: uuid
          example: "d4e5f6a7-b8c9-40da-b1c2-d3e4f5a6b7c8"
        transaction_type:
          type: string
          enum: [INCOME, EXPENSE, TRANSFER]
          example: "EXPENSE"
        amount:
          type: number
          format: double
          minimum: 0.01
          example: 75000.00
        description:
          type: string
          maxLength: 500
          example: "Makan siang"
        notes:
          type: string
          maxLength: 2000
        transaction_date:
          type: string
          format: date
          example: "2026-04-27"
        to_account_id:
          type: string
          format: uuid
          description: "Wajib jika transaction_type = TRANSFER."
          example: "e5f6a7b8-c9d0-41eb-c2d3-e4f5a6b7c8d9"

    UpdateTransactionRequest:
      type: object
      properties:
        category_id:
          type: string
          format: uuid
        amount:
          type: number
          format: double
          minimum: 0.01
        description:
          type: string
          maxLength: 500
        notes:
          type: string
          maxLength: 2000
        transaction_date:
          type: string
          format: date

    # --- Category Schemas ---

    Category:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: "Makanan & Minuman"
        type:
          type: string
          enum: [INCOME, EXPENSE, TRANSFER]
          example: "EXPENSE"
        icon:
          type: string
          nullable: true
          example: "utensils"
        color:
          type: string
          nullable: true
          pattern: '^#[0-9A-Fa-f]{6}$'
          example: "#F97316"
        is_default:
          type: boolean
          example: true
        sort_order:
          type: integer
          example: 1

    CreateCategoryRequest:
      type: object
      required: [name, type]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 50
          example: "Olahraga"
        type:
          type: string
          enum: [INCOME, EXPENSE, TRANSFER]
          example: "EXPENSE"
        icon:
          type: string
          maxLength: 50
          example: "dumbbell"
        color:
          type: string
          pattern: '^#[0-9A-Fa-f]{6}$'
          example: "#22C55E"
        sort_order:
          type: integer
          default: 99

    UpdateCategoryRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 50
        icon:
          type: string
          maxLength: 50
        color:
          type: string
          pattern: '^#[0-9A-Fa-f]{6}$'
        sort_order:
          type: integer

    # --- Investment Schemas ---

    InvestmentAsset:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: "Bitcoin"
        asset_type:
          type: string
          enum: [CRYPTO, GOLD, STOCK, MUTUAL_FUND, OTHER]
          example: "CRYPTO"
        symbol:
          type: string
          example: "BTC"
        quantity:
          type: number
          format: double
          example: 0.005
        avg_buy_price:
          type: number
          format: double
          example: 850000000.00
        currency:
          type: string
          example: "IDR"
        current_price_idr:
          type: number
          format: double
          nullable: true
          description: "Harga terkini dari price-service. null jika cache expired."
          example: 880000000.00
        current_value_idr:
          type: number
          format: double
          nullable: true
          description: "quantity * current_price_idr"
          example: 4400000.00
        unrealized_pnl:
          type: number
          format: double
          nullable: true
          description: "current_value - (quantity * avg_buy_price)"
          example: 150000.00
        sort_order:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CreateInvestmentAssetRequest:
      type: object
      required: [name, asset_type, symbol]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          example: "Bitcoin"
        asset_type:
          type: string
          enum: [CRYPTO, GOLD, STOCK, MUTUAL_FUND, OTHER]
          example: "CRYPTO"
        symbol:
          type: string
          minLength: 1
          maxLength: 20
          example: "BTC"
        initial_quantity:
          type: number
          format: double
          minimum: 0
          default: 0
          example: 0.005
        avg_buy_price:
          type: number
          format: double
          minimum: 0
          default: 0
          example: 850000000.00
        currency:
          type: string
          default: "IDR"
        sort_order:
          type: integer
          default: 0

    UpdateInvestmentAssetRequest:
      type: object
      properties:
        name:
          type: string
          maxLength: 100
        avg_buy_price:
          type: number
          format: double
          minimum: 0
        sort_order:
          type: integer

    AssetPrice:
      type: object
      properties:
        symbol:
          type: string
          example: "BTC"
        price_idr:
          type: number
          format: double
          example: 880000000.00
        price_usd:
          type: number
          format: double
          example: 55000.00
        source:
          type: string
          enum: [COINGECKO, METALS_LIVE, MANUAL]
          example: "COINGECKO"
        fetched_at:
          type: string
          format: date-time
          example: "2026-04-27T09:45:00Z"
        is_stale:
          type: boolean
          description: "true jika cache expired dan harga belum berhasil diperbarui."
          example: false

    # --- Dashboard Schema ---

    DashboardResponse:
      type: object
      properties:
        total_balance_idr:
          type: number
          format: double
          description: "Total saldo semua akun keuangan aktif."
          example: 12500000.00
        total_investment_value_idr:
          type: number
          format: double
          description: "Total nilai investasi berdasarkan harga terkini."
          example: 8750000.00
        this_month_income:
          type: number
          format: double
          example: 8000000.00
        this_month_expense:
          type: number
          format: double
          example: 3200000.00
        this_month_net:
          type: number
          format: double
          description: "this_month_income - this_month_expense"
          example: 4800000.00
        accounts_summary:
          type: array
          items:
            type: object
            properties:
              account_id:
                type: string
                format: uuid
              name:
                type: string
              account_type:
                type: string
              balance:
                type: number
                format: double
        tier_usage:
          type: object
          description: "Penggunaan limit tier saat ini."
          properties:
            transactions_this_month:
              type: integer
              example: 23
            transactions_limit:
              type: integer
              example: 50
            financial_accounts_count:
              type: integer
              example: 2
            financial_accounts_limit:
              type: integer
              example: 3
            investment_instruments_count:
              type: integer
              example: 1
            investment_instruments_limit:
              type: integer
              example: 2

    # --- Sync Schemas ---

    SyncPushRequest:
      type: object
      required: [client_last_synced_at]
      properties:
        client_last_synced_at:
          type: string
          format: date-time
          description: "Timestamp sync terakhir yang berhasil di client."
          example: "2026-04-26T08:00:00Z"
        financial_accounts:
          type: array
          items:
            $ref: '#/components/schemas/CreateFinancialAccountRequest'
          default: []
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/CreateTransactionRequest'
          default: []
        investment_assets:
          type: array
          items:
            $ref: '#/components/schemas/CreateInvestmentAssetRequest'
          default: []
        deleted_transaction_sync_ids:
          type: array
          items:
            type: string
            format: uuid
          default: []
          description: "sync_id dari transaksi yang dihapus di client saat offline."

    SyncPushResponse:
      type: object
      properties:
        synced_at:
          type: string
          format: date-time
          example: "2026-04-27T10:00:00Z"
        accepted_count:
          type: integer
          example: 5
        rejected_count:
          type: integer
          example: 0
        conflict_resolved_count:
          type: integer
          example: 1
        tier_limit_rejected:
          type: array
          items:
            type: object
            properties:
              sync_id:
                type: string
                format: uuid
              reason:
                type: string
                example: "max_transactions_per_month exceeded"
          description: "Record yang ditolak karena limit tier. User perlu upgrade."
        conflicts:
          type: array
          items:
            type: object
            properties:
              sync_id:
                type: string
                format: uuid
              resolution:
                type: string
                enum: [SERVER_WINS]
              server_version:
                type: object
                description: "Versi server yang menang (entity tergantung tipe)."

    SyncPullResponse:
      type: object
      properties:
        server_synced_at:
          type: string
          format: date-time
          example: "2026-04-27T10:00:00Z"
        financial_accounts:
          type: array
          items:
            $ref: '#/components/schemas/FinancialAccount'
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        investment_assets:
          type: array
          items:
            $ref: '#/components/schemas/InvestmentAsset'
        categories:
          type: array
          items:
            $ref: '#/components/schemas/Category'

    # --- Admin Schemas ---

    AdminLoginRequest:
      type: object
      required: [username, password]
      properties:
        username:
          type: string
          example: "superadmin"
        password:
          type: string
          format: password
          example: "AdminSecurePass123"

    AdminLoginResponse:
      type: object
      properties:
        access_token:
          type: string
          description: "Admin JWT token. TTL 8 jam."
          example: "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9..."
        token_type:
          type: string
          example: "Bearer"
        expires_in:
          type: integer
          example: 28800
        admin:
          type: object
          properties:
            id:
              type: string
              format: uuid
            username:
              type: string
            role:
              type: string
              enum: [SUPER_ADMIN, SUPPORT]

    AdminUserListItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        username:
          type: string
        is_active:
          type: boolean
        email_verified:
          type: boolean
        subscription_plan:
          type: string
          enum: [FREE, BASIC, PRO]
        subscription_status:
          type: string
          enum: [TRIALING, ACTIVE, PAST_DUE, CANCELLED, EXPIRED]
        created_at:
          type: string
          format: date-time
        last_login_at:
          type: string
          format: date-time
          nullable: true

    AdminUserDetail:
      allOf:
        - $ref: '#/components/schemas/AdminUserListItem'
        - type: object
          properties:
            subscription:
              $ref: '#/components/schemas/Subscription'
            usage_stats:
              type: object
              properties:
                transactions_this_month:
                  type: integer
                  example: 23
                total_transactions:
                  type: integer
                  example: 145
                financial_accounts_count:
                  type: integer
                  example: 2
                investment_instruments_count:
                  type: integer
                  example: 1
                last_sync_at:
                  type: string
                  format: date-time
                  nullable: true
            payment_history:
              type: array
              items:
                $ref: '#/components/schemas/Invoice'
              maxItems: 10

    PlatformStats:
      type: object
      properties:
        total_users:
          type: integer
          example: 1250
        active_users_30d:
          type: integer
          description: "User yang login dalam 30 hari terakhir."
          example: 840
        subscriptions_by_plan:
          type: object
          properties:
            FREE:
              type: integer
              example: 900
            BASIC:
              type: integer
              example: 280
            PRO:
              type: integer
              example: 70
        active_subscriptions:
          type: integer
          description: "Jumlah subscription BASIC + PRO dengan status ACTIVE."
          example: 350
        mrr_idr:
          type: integer
          description: "Monthly Recurring Revenue dalam Rupiah."
          example: 12290000
        churn_rate_30d:
          type: number
          format: double
          description: "Persentase subscription yang cancelled dalam 30 hari terakhir."
          example: 2.5
        new_users_30d:
          type: integer
          example: 87
        revenue_30d_idr:
          type: integer
          example: 11600000
        calculated_at:
          type: string
          format: date-time

    SuspendUserRequest:
      type: object
      required: [reason]
      properties:
        reason:
          type: string
          maxLength: 500
          example: "Pelanggaran Terms of Service — penggunaan akun yang mencurigakan."

    OverrideSubscriptionRequest:
      type: object
      required: [plan_name]
      properties:
        plan_name:
          type: string
          enum: [FREE, BASIC, PRO]
          example: "BASIC"
        duration_days:
          type: integer
          minimum: 1
          maximum: 365
          description: "Durasi override dalam hari. Jika tidak diisi, menggunakan billing cycle normal."
          example: 30
        reason:
          type: string
          maxLength: 500
          description: "Alasan override (untuk audit log)."
          example: "Kompensasi downtime April 2026."

    # --- Health Schema ---

    HealthResponse:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, degraded, unhealthy]
          example: "healthy"
        version:
          type: string
          example: "2.0.0"
        timestamp:
          type: string
          format: date-time
        services:
          type: object
          additionalProperties:
            type: string
            enum: [healthy, unhealthy, unknown]
          example:
            auth-service: "healthy"
            billing-service: "healthy"
            finance-service: "healthy"
            transaction-service: "healthy"
            investment-service: "healthy"
            price-service: "healthy"
            sync-service: "healthy"
            notification-service: "healthy"
            admin-service: "healthy"
            postgres: "healthy"
            rabbitmq: "healthy"
            redis: "healthy"

# ============================================================
# Paths
# ============================================================
paths:

  # ============================================================
  # Auth Service Endpoints
  # ============================================================

  /auth/register:
    post:
      tags: [Auth]
      summary: Registrasi akun baru
      description: |
        Self-service signup. Setelah register, email verifikasi dikirim.
        Akun belum aktif sampai email diverifikasi.
        Rate limit: 5 req / 15 menit / IP.
      operationId: registerUser
      parameters:
        - $ref: '#/components/parameters/CorrelationIDHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: Registrasi berhasil. Email verifikasi dikirim.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/RegisterResponse'
        '409':
          description: Email atau username sudah terdaftar
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error:
                  code: "EMAIL_ALREADY_REGISTERED"
                  message: "Email sudah terdaftar. Silakan login atau gunakan email lain."
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /auth/verify-email:
    post:
      tags: [Auth]
      summary: Verifikasi email dengan token
      description: |
        Verifikasi email menggunakan token dari link di email.
        Token berlaku 24 jam sejak registrasi.
      operationId: verifyEmail
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyEmailRequest'
      responses:
        '200':
          description: Email berhasil diverifikasi
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          message:
                            type: string
                            example: "Email berhasil diverifikasi. Silakan login."
        '400':
          description: Token tidak valid atau sudah digunakan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error:
                  code: "INVALID_VERIFICATION_TOKEN"
                  message: "Token verifikasi tidak valid atau sudah digunakan."
        '410':
          description: Token sudah expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error:
                  code: "VERIFICATION_TOKEN_EXPIRED"
                  message: "Token verifikasi sudah kedaluwarsa. Silakan request token baru."

  /auth/login:
    post:
      tags: [Auth]
      summary: Login
      description: |
        Autentikasi dengan email dan password.
        Mengembalikan JWT access token dan set refresh token sebagai HttpOnly cookie.
        Rate limit: 10 req / menit / IP.
        Akun akan dikunci setelah 5 kali gagal login dalam 15 menit.
      operationId: loginUser
      parameters:
        - $ref: '#/components/parameters/CorrelationIDHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login berhasil
          headers:
            Set-Cookie:
              description: "HttpOnly Secure cookie berisi refresh token."
              schema:
                type: string
                example: "refresh_token=abc123...; HttpOnly; Secure; SameSite=Strict; Path=/auth/refresh; Max-Age=2592000"
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/LoginResponse'
        '401':
          description: Email atau password salah
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error:
                  code: "INVALID_CREDENTIALS"
                  message: "Email atau password salah."
        '403':
          description: Akun belum diverifikasi atau dikunci
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                email_not_verified:
                  value:
                    success: false
                    error:
                      code: "EMAIL_NOT_VERIFIED"
                      message: "Silakan verifikasi email Anda terlebih dahulu."
                account_locked:
                  value:
                    success: false
                    error:
                      code: "ACCOUNT_LOCKED"
                      message: "Akun dikunci sementara karena terlalu banyak percobaan login gagal. Coba lagi dalam 15 menit."
        '429':
          $ref: '#/components/responses/RateLimitError'

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Refresh access token
      description: |
        Menggunakan refresh token dari HttpOnly cookie untuk mendapatkan access token baru.
        Refresh token lama direvoke (token rotation).
        Rate limit: 20 req / menit / user.
      operationId: refreshToken
      parameters:
        - name: Cookie
          in: header
          required: true
          description: "Cookie harus berisi `refresh_token=<raw_token>`"
          schema:
            type: string
      responses:
        '200':
          description: Token berhasil diperbarui
          headers:
            Set-Cookie:
              description: "Refresh token baru (token lama direvoke)."
              schema:
                type: string
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/LoginResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /auth/logout:
    post:
      tags: [Auth]
      summary: Logout
      description: |
        Merevoke refresh token aktif dan menambahkan access token ke Redis blacklist.
        Setelah logout, cookie refresh_token dihapus.
      operationId: logoutUser
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Logout berhasil
          headers:
            Set-Cookie:
              description: "Cookie refresh_token dihapus."
              schema:
                type: string
                example: "refresh_token=; HttpOnly; Secure; Max-Age=0"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          message:
                            type: string
                            example: "Logout berhasil."
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /auth/forgot-password:
    post:
      tags: [Auth]
      summary: Request password reset
      description: |
        Kirim email reset password. Selalu mengembalikan 200 (tidak reveal apakah email terdaftar).
        Rate limit: 3 req / jam / email.
      operationId: forgotPassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotPasswordRequest'
      responses:
        '200':
          description: Jika email terdaftar, link reset password akan dikirim.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          message:
                            type: string
                            example: "Jika email terdaftar, link reset password telah dikirim. Berlaku 1 jam."
        '429':
          $ref: '#/components/responses/RateLimitError'

  /auth/reset-password:
    post:
      tags: [Auth]
      summary: Reset password dengan token
      description: |
        Reset password menggunakan token dari email.
        Token berlaku 1 jam dan hanya bisa digunakan sekali.
      operationId: resetPassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequest'
      responses:
        '200':
          description: Password berhasil direset
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          message:
                            type: string
                            example: "Password berhasil diperbarui. Silakan login."
        '400':
          description: Token tidak valid atau sudah digunakan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '410':
          description: Token sudah expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'

  # ============================================================
  # User Service Endpoints
  # ============================================================

  /me:
    get:
      tags: [User]
      summary: Profil user saat ini
      operationId: getMyProfile
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Profil user berhasil diambil
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/UserProfile'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    put:
      tags: [User]
      summary: Update profil user
      operationId: updateMyProfile
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProfileRequest'
      responses:
        '200':
          description: Profil berhasil diperbarui
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/UserProfile'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '409':
          description: Username sudah digunakan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'

    delete:
      tags: [User]
      summary: Hapus akun (GDPR Right to Erasure)
      description: |
        Menghapus akun user secara permanen beserta semua data keuangan (tenant schema).
        Subscription yang aktif akan dibatalkan. Operasi ini TIDAK DAPAT DIBATALKAN.
      operationId: deleteMyAccount
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteAccountRequest'
      responses:
        '200':
          description: Akun berhasil dihapus
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          message:
                            type: string
                            example: "Akun berhasil dihapus. Data Anda telah dihapus secara permanen."
        '400':
          description: Konfirmasi tidak cocok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  # ============================================================
  # Billing Service Endpoints
  # ============================================================

  /billing/plans:
    get:
      tags: [Billing]
      summary: Daftar semua subscription plans
      description: Endpoint publik. Tidak perlu autentikasi.
      operationId: listSubscriptionPlans
      responses:
        '200':
          description: Daftar subscription plans
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/SubscriptionPlan'

  /billing/subscription:
    get:
      tags: [Billing]
      summary: Subscription aktif user saat ini
      operationId: getMySubscription
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Subscription aktif
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Subscription'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /billing/subscribe:
    post:
      tags: [Billing]
      summary: Subscribe ke plan berbayar
      description: |
        Membuat sesi pembayaran Midtrans untuk upgrade ke plan BASIC atau PRO.
        Mengembalikan Snap token dan redirect URL untuk proses pembayaran di frontend.
      operationId: subscribeToPlan
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscribeRequest'
      responses:
        '201':
          description: Sesi pembayaran berhasil dibuat
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SubscribeResponse'
        '400':
          description: Tidak dapat subscribe ke plan FREE atau plan yang sama
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /billing/cancel:
    post:
      tags: [Billing]
      summary: Cancel subscription
      description: |
        Membatalkan subscription aktif. Akses tetap aktif sampai akhir periode billing.
        Setelah periode berakhir, subscription di-downgrade ke FREE.
      operationId: cancelSubscription
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Subscription berhasil dibatalkan
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          message:
                            type: string
                            example: "Subscription dibatalkan. Akses aktif hingga 2026-05-27."
                          effective_until:
                            type: string
                            format: date-time
                            example: "2026-05-27T00:00:00Z"
        '400':
          description: Tidak ada subscription aktif yang dapat dibatalkan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /billing/invoices:
    get:
      tags: [Billing]
      summary: Riwayat pembayaran
      operationId: listMyInvoices
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Riwayat invoice
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Invoice'
                      meta:
                        $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /billing/webhook/midtrans:
    post:
      tags: [Billing]
      summary: Midtrans payment notification webhook
      description: |
        Endpoint untuk menerima notifikasi pembayaran dari Midtrans server.
        Tidak memerlukan JWT auth. Verifikasi dilakukan via signature_key di payload.
        Rate limit khusus: 100 req / menit / IP.
      operationId: midtransWebhookHandler
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MidtransWebhookPayload'
      responses:
        '200':
          description: Webhook berhasil diproses
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "OK"
        '400':
          description: Signature verification gagal atau payload tidak valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ============================================================
  # Finance Account Endpoints
  # ============================================================

  /accounts:
    get:
      tags: [Finance Accounts]
      summary: Daftar semua akun keuangan
      operationId: listFinancialAccounts
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Daftar akun keuangan
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/FinancialAccount'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    post:
      tags: [Finance Accounts]
      summary: Buat akun keuangan baru
      operationId: createFinancialAccount
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFinancialAccountRequest'
      responses:
        '201':
          description: Akun berhasil dibuat
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/FinancialAccount'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '402':
          $ref: '#/components/responses/TierLimitExceededError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /accounts/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: ID akun keuangan

    get:
      tags: [Finance Accounts]
      summary: Detail akun keuangan
      operationId: getFinancialAccount
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Detail akun
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/FinancialAccount'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    put:
      tags: [Finance Accounts]
      summary: Update akun keuangan
      operationId: updateFinancialAccount
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFinancialAccountRequest'
      responses:
        '200':
          description: Akun berhasil diperbarui
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/FinancialAccount'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    delete:
      tags: [Finance Accounts]
      summary: Hapus akun keuangan (soft delete)
      operationId: deleteFinancialAccount
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Akun berhasil dihapus
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          message:
                            type: string
                            example: "Akun berhasil dihapus."
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /accounts/{id}/balance:
    patch:
      tags: [Finance Accounts]
      summary: Update saldo akun (manual adjustment)
      description: |
        Mengubah saldo akun secara manual. Perubahan dicatat di balance_history.
      operationId: updateAccountBalance
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBalanceRequest'
      responses:
        '200':
          description: Saldo berhasil diperbarui
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/FinancialAccount'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /accounts/{id}/history:
    get:
      tags: [Finance Accounts]
      summary: Riwayat perubahan saldo
      operationId: getAccountBalanceHistory
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Riwayat perubahan saldo
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/BalanceHistory'
                      meta:
                        $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  # ============================================================
  # Transaction Endpoints
  # ============================================================

  /transactions:
    get:
      tags: [Transactions]
      summary: Daftar transaksi
      operationId: listTransactions
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: account_id
          in: query
          schema:
            type: string
            format: uuid
        - name: category_id
          in: query
          schema:
            type: string
            format: uuid
        - name: transaction_type
          in: query
          schema:
            type: string
            enum: [INCOME, EXPENSE, TRANSFER]
        - name: start_date
          in: query
          schema:
            type: string
            format: date
          example: "2026-04-01"
        - name: end_date
          in: query
          schema:
            type: string
            format: date
          example: "2026-04-30"
      responses:
        '200':
          description: Daftar transaksi
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Transaction'
                      meta:
                        $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    post:
      tags: [Transactions]
      summary: Buat transaksi baru
      operationId: createTransaction
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTransactionRequest'
      responses:
        '201':
          description: Transaksi berhasil dibuat
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Transaction'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '402':
          $ref: '#/components/responses/TierLimitExceededError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /transactions/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid

    get:
      tags: [Transactions]
      summary: Detail transaksi
      operationId: getTransaction
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Detail transaksi
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Transaction'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    put:
      tags: [Transactions]
      summary: Update transaksi
      operationId: updateTransaction
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTransactionRequest'
      responses:
        '200':
          description: Transaksi berhasil diperbarui
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Transaction'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    delete:
      tags: [Transactions]
      summary: Hapus transaksi (soft delete)
      operationId: deleteTransaction
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Transaksi berhasil dihapus
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          message:
                            type: string
                            example: "Transaksi berhasil dihapus."
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  # ============================================================
  # Category Endpoints
  # ============================================================

  /categories:
    get:
      tags: [Categories]
      summary: Daftar semua kategori
      operationId: listCategories
      security:
        - BearerAuth: []
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum: [INCOME, EXPENSE, TRANSFER]
      responses:
        '200':
          description: Daftar kategori
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Category'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    post:
      tags: [Categories]
      summary: Buat kategori baru
      operationId: createCategory
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCategoryRequest'
      responses:
        '201':
          description: Kategori berhasil dibuat
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Category'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /categories/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid

    put:
      tags: [Categories]
      summary: Update kategori
      operationId: updateCategory
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCategoryRequest'
      responses:
        '200':
          description: Kategori berhasil diperbarui
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Category'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Kategori default tidak dapat diubah
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'

    delete:
      tags: [Categories]
      summary: Hapus kategori (soft delete)
      description: Kategori default tidak dapat dihapus.
      operationId: deleteCategory
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Kategori berhasil dihapus
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          message:
                            type: string
                            example: "Kategori berhasil dihapus."
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Kategori default tidak dapat dihapus
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'

  # ============================================================
  # Investment Endpoints
  # ============================================================

  /investments:
    get:
      tags: [Investments]
      summary: Daftar aset investasi
      operationId: listInvestmentAssets
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Daftar aset investasi dengan harga terkini
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/InvestmentAsset'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    post:
      tags: [Investments]
      summary: Tambah aset investasi baru
      operationId: createInvestmentAsset
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInvestmentAssetRequest'
      responses:
        '201':
          description: Aset berhasil ditambahkan
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/InvestmentAsset'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '402':
          $ref: '#/components/responses/TierLimitExceededError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /investments/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid

    get:
      tags: [Investments]
      summary: Detail aset investasi
      operationId: getInvestmentAsset
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Detail aset investasi
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/InvestmentAsset'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    put:
      tags: [Investments]
      summary: Update aset investasi
      operationId: updateInvestmentAsset
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateInvestmentAssetRequest'
      responses:
        '200':
          description: Aset berhasil diperbarui
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/InvestmentAsset'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    delete:
      tags: [Investments]
      summary: Hapus aset investasi (soft delete)
      operationId: deleteInvestmentAsset
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Aset berhasil dihapus
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          message:
                            type: string
                            example: "Aset investasi berhasil dihapus."
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /investments/prices:
    get:
      tags: [Investments]
      summary: Harga aset investasi terkini
      description: |
        Mengambil harga terkini dari price-service (CoinGecko + metals.live).
        Cache TTL: 15 menit. Jika cache expired dan external API down, mengembalikan harga
        terakhir yang diketahui dengan flag `is_stale: true`.
      operationId: getInvestmentPrices
      security:
        - BearerAuth: []
      parameters:
        - name: symbols
          in: query
          description: "Comma-separated list symbol. Contoh: BTC,ETH,XAU"
          schema:
            type: string
          example: "BTC,ETH,XAU"
      responses:
        '200':
          description: Harga terkini
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/AssetPrice'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  # ============================================================
  # Dashboard Endpoint
  # ============================================================

  /dashboard:
    get:
      tags: [Dashboard]
      summary: Ringkasan keuangan user
      description: |
        Mengembalikan agregat: total saldo, total investasi, income/expense bulan ini,
        dan informasi penggunaan tier limit.
      operationId: getDashboard
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Dashboard data
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/DashboardResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  # ============================================================
  # Sync Endpoints
  # ============================================================

  /sync/batch:
    post:
      tags: [Sync]
      summary: Push offline changes ke server
      description: |
        Mengirimkan semua perubahan yang dilakukan saat offline ke server (sync-service).
        Server menjalankan conflict resolution (Server Wins) untuk setiap record yang konflik.
        Tier limit di-enforce di sini — record yang melebihi limit dikembalikan dalam
        `tier_limit_rejected` array.
      operationId: syncBatch
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyncPushRequest'
      responses:
        '200':
          description: Sync berhasil diproses
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SyncPushResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '413':
          description: Batch size melebihi limit (maksimal 500 record)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /sync/pull:
    get:
      tags: [Sync]
      summary: Pull perubahan terbaru dari server
      description: |
        Mengambil semua data terbaru dari server sejak `since` timestamp.
        Digunakan setelah client kembali online untuk mendapatkan perubahan dari device lain.
      operationId: syncPull
      security:
        - BearerAuth: []
      parameters:
        - name: since
          in: query
          description: "ISO 8601 timestamp. Data yang diubah setelah timestamp ini akan dikembalikan."
          schema:
            type: string
            format: date-time
          example: "2026-04-26T08:00:00Z"
      responses:
        '200':
          description: Data terbaru berhasil diambil
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SyncPullResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  # ============================================================
  # Admin Endpoints
  # ============================================================

  /admin/auth/login:
    post:
      tags: [Admin]
      summary: Admin login
      description: |
        Login untuk admin dashboard. Menggunakan credential admin (terpisah dari user credential).
        Endpoint ini ada di network terpisah (kasku-admin) dan tidak accessible dari public.
      operationId: adminLogin
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminLoginRequest'
      responses:
        '200':
          description: Login admin berhasil
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/AdminLoginResponse'
        '401':
          description: Username atau password admin salah
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /admin/users:
    get:
      tags: [Admin]
      summary: Daftar semua user (platform-level)
      operationId: adminListUsers
      security:
        - AdminBearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: status
          in: query
          description: Filter by status akun
          schema:
            type: string
            enum: [active, inactive, suspended]
        - name: plan
          in: query
          description: Filter by subscription plan
          schema:
            type: string
            enum: [FREE, BASIC, PRO]
        - name: email
          in: query
          description: Search by email (partial match)
          schema:
            type: string
      responses:
        '200':
          description: Daftar semua user
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/AdminUserListItem'
                      meta:
                        $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /admin/users/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: User ID

    get:
      tags: [Admin]
      summary: Detail user (admin view)
      description: Termasuk subscription aktif, usage stats, dan riwayat pembayaran terakhir.
      operationId: adminGetUserDetail
      security:
        - AdminBearerAuth: []
      responses:
        '200':
          description: Detail user
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/AdminUserDetail'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /admin/users/{id}/suspend:
    post:
      tags: [Admin]
      summary: Suspend user
      description: Menonaktifkan akun user. Semua session aktif akan diinvalidasi.
      operationId: adminSuspendUser
      security:
        - AdminBearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuspendUserRequest'
      responses:
        '200':
          description: User berhasil di-suspend
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          message:
                            type: string
                            example: "User berhasil di-suspend."
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /admin/users/{id}/activate:
    post:
      tags: [Admin]
      summary: Activate suspended user
      operationId: adminActivateUser
      security:
        - AdminBearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: User berhasil diaktifkan kembali
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          message:
                            type: string
                            example: "User berhasil diaktifkan."
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /admin/users/{id}/subscription:
    put:
      tags: [Admin]
      summary: Override subscription plan user
      description: |
        Admin dapat mengubah subscription plan user secara manual (tanpa payment).
        Digunakan untuk kompensasi, uji coba, atau koreksi data.
        Semua override dicatat di audit log.
      operationId: adminOverrideSubscription
      security:
        - AdminBearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OverrideSubscriptionRequest'
      responses:
        '200':
          description: Subscription berhasil di-override
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Subscription'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /admin/stats:
    get:
      tags: [Admin]
      summary: Platform statistics
      description: |
        Statistik platform: total user, MRR, active subscriptions, churn rate.
        Data di-compute saat request (tidak di-cache).
      operationId: adminGetPlatformStats
      security:
        - AdminBearerAuth: []
      responses:
        '200':
          description: Platform statistics
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PlatformStats'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /admin/payments:
    get:
      tags: [Admin]
      summary: Riwayat semua pembayaran (platform-level)
      operationId: adminListPayments
      security:
        - AdminBearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: status
          in: query
          schema:
            type: string
            enum: [PENDING, SETTLEMENT, EXPIRE, CANCEL, DENY, REFUND, FAILURE]
        - name: start_date
          in: query
          schema:
            type: string
            format: date
          example: "2026-04-01"
        - name: end_date
          in: query
          schema:
            type: string
            format: date
          example: "2026-04-30"
      responses:
        '200':
          description: Daftar semua pembayaran
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          allOf:
                            - $ref: '#/components/schemas/Invoice'
                            - type: object
                              properties:
                                user_id:
                                  type: string
                                  format: uuid
                                user_email:
                                  type: string
                                  format: email
                      meta:
                        $ref: '#/components/schemas/PaginationMeta'
[...]
